/.vscode/ipch/
*.DS_Store
*.plist
*.ppm
*.dSYM/
/cpp/tests/data_structures/canvas
/cpp/tests/data_structures/color
/cpp/tests/data_structures/four_tuple
/cpp/tests/data_structures/matrix
/cpp/tests/image_formats/plain_ppm
/cpp/src/exercises/clock_face/program
/cpp/src/exercises/projectiles/program
