/.vscode/ipch/
*.DS_Store
*.plist
*.ppm
*.dSYM/
/cpp/tests/data_structures/canvas
/cpp/tests/data_structures/color
/cpp/tests/data_structures/four_tuple
/cpp/tests/data_structures/intersections
/cpp/tests/data_structures/material
/cpp/tests/data_structures/matrix
/cpp/tests/data_structures/ray
/cpp/tests/data_structures/world
/cpp/tests/image_formats/plain_ppm
/cpp/tests/lights/lights
/cpp/tests/shapes/sphere
/cpp/tests/transformations/transformations
/cpp/src/exercises/cast_rays_at_a_sphere/program
/cpp/src/exercises/clock_face/program
/cpp/src/exercises/projectiles/program
